# ignore all wing admin files
*.wp[ru]

# ignore all files in the cache
__pycache__/

# ignore all files in the logs dir
logs/

# my private prams file
tncprams.json
tncprams.yaml
tncprams?*.yaml
testtncprams.yaml
